@font-face {
    font-family: "kenia";
    src: url("../../public/fonts/Kenia-Regular.ttf");
}
@font-face {
    font-family: "bai";
    src: url("../../public/fonts/Bai_Jamjuree/BaiJamjuree-Regular.ttf");
}