.section1{
    display: flex;
    flex-direction: column;

}
.section1 .image {
    background-image: url(../images/image-computer.png);
    background-size: 85%;
    background-repeat: no-repeat;
    background-position: -20px 0px;
}
.container1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}