.section2{
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.container3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 40%
}
.container3 p{
    margin-top: 3%;
}

@media screen and (max-width: 600px) {
    .container3{
        width: 70%;
    }
}